<ion-header>
  <ion-toolbar>
    <!-- <ion-title padding>Movies</ion-title> -->
    <ion-searchbar #input
    placeholder="Search movies"
    animated
    autocomplete="on"
    showCancelButton="focus"
    (ionChange)="onMovieChange(input.value)"
    (ionCancel)="onMovieCancel()"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let movie of movies" (click)="navDetail(movie)">
      <ion-avatar slot="start">
        <ion-img [src]="movie.image"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{ movie.title }}</h2>
        <p *ngFor="let genre of movie.genre">{{ genre }} </p>
      </ion-label>
      <ion-icon name="arrow-round-forward" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
